@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    outline: rgba(0, 0, 0, 0.753) solid 2px;
    border-radius: 0.1%;
    background-image: url("https://i.pinimg.com/originals/5b/12/9d/5b129de44c25ee014c31ad03590458d8.jpg");
}
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

.home-title{
    font-family: 'Bangers', cursive;
    font-size:xxx-large;
}

.home-title-not-first{
    margin-top: 3rem;
}


