@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@media only screen and (min-width: 778px) {
    .separation-details{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 730px) {
    .details-image{
        margin-bottom: 3rem;
    }
}
.details-box{
    border: 2px solid black;
    padding: 4rem;
}

.details-container{
    flex-wrap: wrap;
}

.title-name{
    font-family: 'Bangers', cursive;
    font-size:4rem;
}
